{% load i18n shared %}
{% htmlmin %}
  <div class="bulk-edit-bar">
    <div class="bulk-edit-actions">
      <label class="form-checkbox bulk-edit-checkbox all">
        <input type="checkbox">
        <i class="form-icon"></i>
      </label>
      <select name="bulk_action" class="form-select select-sm">

        {% if not 'bulk_read' in disable_actions %}
          <option value="bulk_read">{% translate "Mark as read" %}</option>
        {% endif %}
        {% if not 'bulk_unread' in disable_actions %}
        <option value="bulk_unread">{% translate "Mark as unread" %}</option>
      {% endif %}
      {% if request.user_profile.enable_sharing %}
        {% if not 'bulk_share' in disable_actions %}
          <option value="bulk_share">{% translate "Share" %}</option>
        {% endif %}
        {% if not 'bulk_unshare' in disable_actions %}  
          <option value="bulk_unshare">{% translate "Unshare" %}</option>
        {% endif %}
      {% endif %}

      <hr>
      {% if not 'bulk_tag' in disable_actions %}
        <option value="bulk_tag">{% translate "Add tags" %}</option>
      {% endif %}
      {% if not 'bulk_untag' in disable_actions %}
        <option value="bulk_untag">{% translate "Remove tags" %}</option>
      {% endif %}
      {% if not 'bulk_refresh' in disable_actions %}
        <option value="bulk_refresh">{% translate "Refresh from website" %}</option>
      {% endif %}
      {% if bookmark_list.snapshot_feature_enabled %}
        {% if not 'bulk_snapshot' in disable_actions %}
          <option value="bulk_snapshot">{% translate "Create HTML snapshot" %}</option>
        {% endif %}
      {% endif %}
      {% if not 'bulk_remove_snapshot' in disable_actions %}
        <option value="bulk_remove_snapshot">{% translate "Remove all snapshots" %}</option>
      {% endif %}
      {% if not 'bulk_article' in disable_actions %}
        <option value="bulk_article">{% translate "Create HTML article" %}</option>
      {% endif %}
      {% if not 'bulk_remove_article' in disable_actions %}
        <option value="bulk_remove_article">{% translate "Remove all articles" %}</option>
      {% endif %}

      <hr>
      {% if not 'bulk_archive' in disable_actions %}
        <option value="bulk_archive">{% translate "Archive" %}</option>
      {% endif %}
      {% if not 'bulk_unarchive' in disable_actions %}
        <option value="bulk_unarchive">{% translate "Unarchive" %}</option>
      {% endif %}
      {% if not 'bulk_restore' in disable_actions %}
        <option value="bulk_restore"
          {% if default_bulk_action == 'bulk_restore' %}selected{% endif %}>
          {% translate "Restore bookmarks" %}
        </option>
      {% endif %}
      {% if not 'bulk_trash' in disable_actions %}
        <option value="bulk_trash">{% translate "Move to trash" %}</option>
      {% endif %}
        {% if not 'bulk_delete' in disable_actions %}
          <option value="bulk_delete">{% translate "Delete permanently" %}</option>
        {% endif %}
      </select>
      <div class="tag-autocomplete d-none">
        <ld-tag-autocomplete
          input-name="bulk_tag_string"
          input-placeholder="{% translate 'Tag names' %}"
          variant="small"
        ></ld-tag-autocomplete>
      </div>
      <button ld-confirm-button type="submit" name="bulk_execute" class="btn btn-link btn-sm" disabled>
        <span>{% translate "Execute" %}</span>
      </button>

      <button type="button" name="bulk_cancel" class="btn btn-link btn-sm">
        <span>{% translate "Cancel" %}</span>
      </button>
      <span class="bulk-edit-count d-none"></span>
      <label class="form-checkbox select-across d-none">
        <input type="checkbox" name="bulk_select_across">
        <i class="form-icon"></i>
        {% translate "All pages" %} (<span class="total">{{ bookmark_list.bookmarks_total }}</span> {% translate "bookmarks" %})
      </label>
    </div>
  </div>
{% endhtmlmin %}
