# Ignore everything
*

# Include files required for build or at runtime
!/bookmarks
!/site_adapters
!/locale

!/bootstrap.sh
!/LICENSE.txt
!/manage.py
!/package.json
!/package-lock.json
!/postcss.config.js
!/pyproject.toml
!/rollup.config.mjs
!/esbuild.config.mjs
!/scripts
!/scripts/generate-site-adapters-etc.sh
!/supervisord.conf
!/uv.lock
!/uwsgi.ini
!/version.txt

 # Remove dev settings
/bookmarks/settings/dev.py
