{% extends "bookmarks/sidebar/components/module_base.html" %}
{% load i18n %}

{% block section_attrs %}aria-labelledby="bundles-heading"{% endblock %}
{% block toggle_storage_key %}bundleSectionState{% endblock %}
{% block heading_id %}bundles-heading{% endblock %}
{% block title %}{% translate "Bundles" %}{% endblock %}

{% block dropdown_label %}{% translate "Bundles menu" %}{% endblock %}
{% block dropdown_items %}
  <li class="menu-item">
    <a href="{% url 'linkding:bundles.index' %}" class="menu-link">{% translate "Manage bundles" %}</a>
  </li>
  {% if bookmark_list.search.q %}
    <li class="menu-item">
      <a href="{% url 'linkding:bundles.new' %}?{{ create_bundle_query_string }}" class="menu-link">
        {% translate "Create bundle from search" %}
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
  <ul class="bundle-menu" ld-bundle-menu>
    {% for bundle in bundles.bundles %}
      <li class="bundle-menu-item {% if bundle.id == bundles.selected_bundle.id %}selected{% endif %}"
          data-bundle-id="{{ bundle.id }}"
          data-folder="{{ bundle.is_folder|yesno:'true,false' }}">
        <div class="bundle-content">
          <a href="?bundle={{ bundle.id }}">
            {{ bundle.name }}
            {% if bundle.bookmarks_total is not None %}<span class="count" id="bundle-total-{{ bundle.id }}">{{ bundle.bookmarks_total }}</span>{% endif %}
          </a>
        </div>
        <div class="bundle-action">
          {% if bundle.is_folder and bundle.has_child %}
            {% include "bookmarks/sidebar/components/collapsed_button.html" %}
          {% else %}
            <span class="folder-toggle-placeholder"></span>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}