{% load static bookmarks %}
<turbo-stream action="update" target="bookmark-list-container">
  <template>
    {% include 'bookmarks/bookmark_list.html' %}
    <script>
      document.dispatchEvent(new CustomEvent('bookmark-list-updated'));
    </script>
  </template>
</turbo-stream>
<turbo-stream action="update" target="tag-cloud-container">
  <template>
    {% include 'bookmarks/sidebar/modules/tags/cloud.html' %}
  </template>
</turbo-stream>

{% if domains %}
  <turbo-stream action="replace" target="domain-section-container">
    <template>
      {% include "bookmarks/sidebar/modules/domains/index.html" %}
    </template>
  </turbo-stream>
{% endif %}

<turbo-stream action="update" target="bookmark-list-total">
  <template>({{ bookmark_list.bookmarks_total }})</template>
</turbo-stream>

<turbo-stream action="update" target="bookmark-search-container">
  <template>
    {% bookmark_search bookmark_list.search %}
  </template>
</turbo-stream>

{% if sidebar_summary %}
  <turbo-stream action="update" target="sidebar-user-summary-container">
    <template>
      {% include "bookmarks/sidebar/modules/summary/index.html" %}
    </template>
  </turbo-stream>
{% endif %}

{% for bundle in bundles.bundles %}
  <turbo-stream action="update" target="bundle-total-{{ bundle.id }}">
    <template>({{ bundle.bookmarks_total }})</template>
  </turbo-stream>
{% endfor %}

<turbo-stream action="update" method="morph" target="details-modal">
  <template>
    {% if details %}
      {% include 'bookmarks/details/modal.html' %}
    {% endif %}
  </template>
</turbo-stream>
