{% load i18n static shared pagination %}

{% if bookmark_list.is_empty %}
  {% include 'bookmarks/empty_bookmarks.html' %}
{% else %}
  <section aria-label="{% translate 'Bookmark list' %}">
    <ul class="bookmark-list{% if bookmark_list.show_notes %} show-notes{% endif %}"
        role="list" tabindex="-1"
        style="--ld-bookmark-description-max-lines:{{ bookmark_list.description_max_lines }};"
        data-bookmarks-total="{{ bookmark_list.bookmarks_total }}">
      {% for bookmark_item in bookmark_list.items %}
        <li ld-bookmark-item data-bookmark-id="{{ bookmark_item.id }}" role="listitem"
            {% if bookmark_item.css_classes %}class="{{ bookmark_item.css_classes }}"{% endif %}>
          <div class="content">
            <div class="title">
              <label class="form-checkbox bulk-edit-checkbox">
                <input type="checkbox" name="bookmark_id" value="{{ bookmark_item.id }}">
                <i class="form-icon"></i>
              </label>
              {% if bookmark_item.favicon_file and bookmark_list.show_favicons %}
              <a href="?q=domain:({{ bookmark_item.url|extract_domain:request.user_profile }})" class="favicon-link">
                <img class="favicon" src="{% static bookmark_item.favicon_file %}" alt="">
              </a>
              {% endif %}
              <a href="{{ bookmark_item.url }}" target="{{ bookmark_list.link_target }}" rel="noopener" class="title-link truncate">
                <span>{{ bookmark_item.title }}</span>
              </a>
            </div>
            {% if bookmark_list.show_url %}
              <div class="url-path truncate">
                <a href="{{ bookmark_item.url }}" target="{{ bookmark_list.link_target }}" rel="noopener"
                   class="url-display">
                  {{ bookmark_item.url }}
                </a>
              </div>
            {% endif %}
            {% if bookmark_list.description_display == 'inline' %}
              <div class="description inline">
                <div class="description-container truncate">
                  {% if bookmark_item.tags %}
                    <span class="tags">
                      {% for tag in bookmark_item.tags %}
                        <a href="?{{ tag.query_string }}">#{{ tag.name }}</a>
                      {% endfor %}
                    </span>
                  {% endif %}
                  {% if bookmark_item.tags and bookmark_item.description %} | {% endif %}
                  {% if bookmark_item.description %}
                    <span class="description-text">{{ bookmark_item.description }}</span>
                  {% endif %}
                </div>
              </div>
            {% else %}
              <div class="description">
                <div class="description-container separate">
                  {% if bookmark_item.description %}
                    <span class="description-text">{{ bookmark_item.description }}</span>
                  {% endif %}
                </div>
              </div>
              {% if bookmark_item.tags %}
                <div class="tags">
                  {% for tag in bookmark_item.tags %}
                    <a href="?{{ tag.query_string }}">#{{ tag.name }}</a>
                  {% endfor %}
                </div>
              {% endif %}
            {% endif %}
            <div class="actions">
              {% if bookmark_item.display_date %}
                {% if bookmark_item.snapshot_url %}
                  <a href="{{ bookmark_item.snapshot_url }}"
                     title="{{ bookmark_item.snapshot_title }}"
                     target="{{ bookmark_list.link_target }}"
                     rel="noopener">
                    {{ bookmark_item.display_date }}
                  </a>
                {% else %}
                  <span>{{ bookmark_item.display_date }}</span>
                {% endif %}
              {% endif %}
              {% if bookmark_item.display_date and not bookmark_list.is_preview %}
                <span class="hide-sm">|</span>
              {% endif %}
              {% if not bookmark_list.is_preview %}
                {% for action in bookmark_list.action_list %}
                  {% if action.enabled %}
                    {% if action.key == "read" %}
                      <a href="{% url 'linkding:bookmarks.read' bookmark_item.id %}" class="read-action"
                        target="{{ bookmark_list.link_target }}" data-turbo="false"
                        {% if bookmark_list.action_display_mode == "icon" %}title="{% translate 'Read' context 'bookmark action' %}"{% endif %}>
                        {% if bookmark_list.action_display_mode == "icon" %}
                          <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><use xlink:href="#ld-icon-unread"></use></svg>
                        {% else %}{% translate "Read" context "bookmark action" %}{% endif %}
                      </a>
                    {% elif action.key == "view" %}
                      <a href="{{ bookmark_item.details_url }}" class="view-action"
                        data-turbo-action="replace" data-turbo-frame="details-modal"
                        {% if bookmark_list.action_display_mode == "icon" %}title="{% translate 'View' %}"{% endif %}>
                        {% if bookmark_list.action_display_mode == "icon" %}
                          <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><use xlink:href="#ld-icon-view"></use></svg>
                        {% else %}{% translate "View" %}{% endif %}
                      </a>
                    {% elif action.key == "edit" and bookmark_item.is_editable and not bookmark_list.is_trash_page %}
                      <a href="{% url 'linkding:bookmarks.edit' bookmark_item.id %}?return_url={{ bookmark_list.return_url|urlencode }}" class="edit-action"
                        {% if bookmark_list.action_display_mode == "icon" %}title="{% translate 'Edit' %}"{% endif %}>
                        {% if bookmark_list.action_display_mode == "icon" %}
                          <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><use xlink:href="#ld-icon-edit"></use></svg>
                        {% else %}{% translate "Edit" %}{% endif %}
                      </a>
                    {% elif action.key == "archive" and bookmark_item.is_editable and not bookmark_list.is_trash_page %}
                      {% if bookmark_item.is_archived %}
                        <button ld-confirm-button ld-confirm-question="{% translate 'Unarchive bookmark?' %}" type="submit" name="unarchive" value="{{ bookmark_item.id }}"
                                class="btn btn-link btn-sm"
                                {% if bookmark_list.action_display_mode == "icon" %}title="{% translate 'Unarchive' %}"{% endif %}>
                          {% if bookmark_list.action_display_mode == "icon" %}
                            <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><use xlink:href="#ld-icon-archive-slash"></use></svg>
                          {% else %}{% translate "Unarchive" %}{% endif %}
                        </button>
                      {% else %}
                        <button ld-confirm-button ld-confirm-question="{% translate 'Archive bookmark?' %}" type="submit" name="archive" value="{{ bookmark_item.id }}"
                                class="btn btn-link btn-sm"
                                {% if bookmark_list.action_display_mode == "icon" %}title="{% translate 'Archive' %}"{% endif %}>
                          {% if bookmark_list.action_display_mode == "icon" %}
                            <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><use xlink:href="#ld-icon-archive"></use></svg>
                          {% else %}{% translate "Archive" %}{% endif %}
                        </button>
                      {% endif %}
                    {% elif action.key == "remove" and bookmark_item.is_editable %}
                      {% if bookmark_list.is_trash_page %}
                        <button ld-confirm-button ld-confirm-question="{% translate 'Restore bookmark?' %}" type="submit" name="restore" value="{{ bookmark_item.id }}"
                                class="btn btn-link btn-sm"
                                {% if bookmark_list.action_display_mode == "icon" %}title="{% translate 'Restore' %}"{% endif %}>
                          {% if bookmark_list.action_display_mode == "icon" %}
                            <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><use xlink:href="#ld-icon-restore"></use></svg>
                          {% else %}{% translate "Restore" %}{% endif %}
                        </button>
                        <button ld-confirm-button ld-confirm-danger ld-confirm-question="{% translate 'Permanently delete?' %}" type="submit" name="remove" value="{{ bookmark_item.id }}"
                                class="btn btn-link btn-sm"
                                {% if bookmark_list.action_display_mode == "icon" %}title="{% translate 'Permanently delete' %}"{% endif %}>
                          {% if bookmark_list.action_display_mode == "icon" %}
                            <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><use xlink:href="#ld-icon-delete"></use></svg>
                          {% else %}{% translate "Permanently delete" %}{% endif %}
                        </button>
                      {% else %}
                        <button ld-confirm-button ld-confirm-danger ld-confirm-question="{% translate 'Move to trash?' %}" type="submit" name="trash" value="{{ bookmark_item.id }}"
                                class="btn btn-link btn-sm"
                                {% if bookmark_list.action_display_mode == "icon" %}title="{% translate 'Remove' %}"{% endif %}>
                          {% if bookmark_list.action_display_mode == "icon" %}
                            <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><use xlink:href="#ld-icon-remove"></use></svg>
                          {% else %}{% translate "Remove" %}{% endif %}
                        </button>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
                {% if not bookmark_item.is_editable and not bookmark_list.is_trash_page %}
                  <span>{% translate "Shared by" %}
                  <a href="?{% replace_query_param user=bookmark_item.owner.username %}">{{ bookmark_item.owner.username }}</a>
                </span>
                {% endif %}
                {# 书签状态 #}
                {% if bookmark_list.has_visible_actions and bookmark_list.has_visible_statuses %}
                  <span class="hide-sm">|</span>
                {% endif %}
                {% for status in bookmark_list.status_list %}
                  {% if status.enabled %}
                    {% if status.key == "notes" and bookmark_item.notes and not bookmark_list.show_notes %}
                      <button type="button" class="btn btn-link btn-sm btn-icon toggle-notes"
                              title="{% translate 'Notes' %}">
                        <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                          <use xlink:href="#ld-icon-note"></use>
                        </svg>
                      </button>
                    {% elif status.key == "share" and bookmark_item.is_editable and bookmark_list.sharing_enabled %}
                      {% if bookmark_item.shared %}
                        <button ld-confirm-button ld-confirm-question="{% translate 'Unshare?' %}" type="submit" name="unshare" value="{{ bookmark_item.id }}"
                                class="btn btn-link btn-sm btn-icon"
                                title="{% translate 'Shared' %}">
                          <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><use xlink:href="#ld-icon-share"></use></svg>
                        </button>
                      {% else %}
                        <button ld-confirm-button ld-confirm-question="{% translate 'Share?' %}" type="submit" name="share" value="{{ bookmark_item.id }}"
                                class="btn btn-link btn-sm btn-icon"
                                title="{% translate 'Share' %}">
                          <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><use xlink:href="#ld-icon-share-x"></use></svg>
                        </button>
                      {% endif %}
                    {% elif status.key == "unread" and bookmark_item.is_editable %}
                      {% if bookmark_item.unread %}
                        <button type="submit" name="mark_as_read" value="{{ bookmark_item.id }}"
                                class="btn btn-link btn-sm btn-icon"
                                title="{% translate 'Mark as read' %}">
                          <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><use xlink:href="#ld-icon-unread-x"></use></svg>
                        </button>
                      {% else %}
                        <button type="submit" name="mark_as_unread" value="{{ bookmark_item.id }}"
                                class="btn btn-link btn-sm btn-icon"
                                title="{% translate 'Mark as unread' %}">
                          <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16"><use xlink:href="#ld-icon-read-check"></use></svg>
                        </button>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            {% if bookmark_item.notes %}
              <div class="notes">
                <div class="markdown">{% markdown bookmark_item.notes %}</div>
              </div>
            {% endif %}
          </div>
          {% if bookmark_list.show_preview_images %}
            {% if bookmark_item.preview_image_file %}
              <img class="preview-image" src="{% static bookmark_item.preview_image_file %}" alt="" loading="lazy"/>
            {% elif bookmark_item.preview_image_remote_url %}
              <img class="preview-image" src="{{ bookmark_item.preview_image_remote_url }}" alt="" loading="lazy"/>
            {% else %}
              <div class="preview-image placeholder">
                <div class="img"/>
              </div>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <div class="bookmark-pagination" data-sticky-on="{{ request.user_profile.sticky_pagination|yesno:'true,false' }}">
      {% pagination bookmark_list.bookmarks_page %}
    </div>
  </section>
{% endif %}
