{% load i18n shared %}
{% htmlmin %}
  {# Basic menu list #}
  <div class="hide-md">
    <a href="{% url 'linkding:bookmarks.new' %}" class="btn btn-primary mr-2">{% translate "Add" %}</a>
    <ld-dropdown class="dropdown">
      <button class="btn btn-link dropdown-toggle" tabindex="0">
        {% translate "Categories" %}
      </button>
      <ul class="menu" role="list" tabindex="-1">
        <li class="menu-item">
          <a href="{% url 'linkding:bookmarks.index' %}" class="menu-link">{% translate "Bookmarks" %}</a>
        </li>
        <li class="menu-item">
          <a href="{% if request.user_profile.enable_sharing and user_has_shared_bookmarks %}{% url 'linkding:bookmarks.shared' %}?user={{ request.user.username }}{% else %}{% url 'linkding:bookmarks.shared' %}{% endif %}" class="menu-link">{% translate "Shared bookmarks" %}</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'linkding:bookmarks.archived' %}" class="menu-link">{% translate "Archived bookmarks" %}</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'linkding:bookmarks.trashed' %}" class="menu-link">{% translate "Trash" %}</a>
        </li>
      </ul>
    </ld-dropdown>
    <ld-dropdown class="dropdown">
      <button class="btn btn-link dropdown-toggle" tabindex="0">
        {% translate "Settings" %}
      </button>
      <ul class="menu" role="list" tabindex="-1">
        <li class="menu-item">
          <a href="{% url 'linkding:settings.general' %}" class="menu-link">{% translate "General" %}</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'linkding:settings.integrations' %}" class="menu-link">{% translate "Integrations" %}</a>
        </li>
        {% if request.user.is_superuser %}
          <li class="menu-item">
            <a href="{% url 'admin:index' %}" class="menu-link" data-turbo="false">{% translate "Admin" %}</a>
          </li>
        {% endif %}
        <li class="menu-item">
          <form class="d-inline" action="{% url 'logout' %}" method="post" data-turbo="false">
            {% csrf_token %}
            <button type="submit" class="btn btn-link menu-link">{% translate "Logout" %}</button>
          </form>
        </li>
      </ul>
    </ld-dropdown>

  </div>
  {# Menu drop-down for smaller devices #}
  <div class="show-md">
    <a href="{% url 'linkding:bookmarks.new' %}" aria-label="{% translate 'Add bookmark' %}" class="btn btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
           style="width: 24px; height: 24px">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
      </svg>
    </a>
    <ld-dropdown class="dropdown dropdown-right">
      <button class="btn btn-link dropdown-toggle" aria-label="{% translate 'Navigation menu' %}" tabindex="0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             style="width: 24px; height: 24px">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
      <!-- menu component -->
      <ul class="menu" role="list" tabindex="-1">
        <li class="menu-item">
          <a href="{% url 'linkding:bookmarks.index' %}" class="menu-link">{% translate "Bookmarks" %}</a>
        </li>
        <li class="menu-item">
          <a href="{% if request.user_profile.enable_sharing and user_has_shared_bookmarks %}{% url 'linkding:bookmarks.shared' %}?user={{ request.user.username }}{% else %}{% url 'linkding:bookmarks.shared' %}{% endif %}" class="menu-link">{% translate "Shared bookmarks" %}</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'linkding:bookmarks.archived' %}" class="menu-link">{% translate "Archived bookmarks" %}</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'linkding:bookmarks.trashed' %}" class="menu-link">{% translate "Trash" %}</a>
        </li>
        <div class="divider"></div>
        <li class="menu-item">
          <a href="{% url 'linkding:settings.general' %}" class="menu-link">{% translate "General" %}</a>
        </li>
        <li class="menu-item">
          <a href="{% url 'linkding:settings.integrations' %}" class="menu-link">{% translate "Integrations" %}</a>
        </li>
        {% if request.user.is_superuser %}
          <li class="menu-item">
            <a href="{% url 'admin:index' %}" class="menu-link" data-turbo="false">{% translate "Admin" %}</a>
          </li>
        {% endif %}
        <div class="divider"></div>
        <li class="menu-item">
          <form class="d-inline" action="{% url 'logout' %}" method="post" data-turbo="false">
            {% csrf_token %}
            <button type="submit" class="btn btn-link menu-link">{% translate "Logout" %}</button>
          </form>
        </li>
      </ul>
    </ld-dropdown>
  </div>
{% endhtmlmin %}
