<ld-responsive-pagination class="pagination-container">
  {% if prev_link %}
    <a href="{{ prev_link }}" class="page-nav prev" tabindex="-1" data-turbo-frame="{{ pagination_frame }}">
      <svg width="20" height="20" aria-hidden="true"><use href="#ld-icon-chevron-left"></use></svg>
    </a>
  {% else %}
    <a href="#" class="page-nav prev disabled" tabindex="-1">
      <svg width="20" height="20" aria-hidden="true"><use href="#ld-icon-chevron-left"></use></svg>
    </a>
  {% endif %}

  <div class="pagination-pages">
    <ul class="pagination-list">
      {% for page_link in page_links %}
        {% if page_link %}
          <li class="page-item {% if page_link.active %}active{% endif %} {% if page_link.is_first %}is-first{% endif %} {% if page_link.is_last %}is-last{% endif %}" data-distance="{{ page_link.distance }}" data-number="{{ page_link.number }}">
            <a href="{{ page_link.link }}" data-turbo-frame="{{ pagination_frame }}">{{ page_link.number }}</a>
          </li>
        {% else %}
          <li class="page-item gap">
            <span>...</span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  {% if next_link %}
    <a href="{{ next_link }}" class="page-nav next" tabindex="-1" data-turbo-frame="{{ pagination_frame }}">
      <svg width="20" height="20" aria-hidden="true"><use href="#ld-icon-chevron-right"></use></svg>
    </a>
  {% else %}
    <a href="#" class="page-nav next disabled" tabindex="-1">
      <svg width="20" height="20" aria-hidden="true"><use href="#ld-icon-chevron-right"></use></svg>
    </a>
  {% endif %}
</ld-responsive-pagination>
