{% extends "bookmarks/layout.html" %}
{% load i18n static %}
{% load shared %}
{% load bookmarks %}

{% block content %}
  <div
      class="bookmarks-page grid columns-md-1 sidebar-closed"
      data-sidebar-default="{{ show_sidebar|yesno:'1,0' }}">

    {# Bookmark list #}
    <main class="main col-2" aria-labelledby="main-heading">
      <div class="section-header mb-0" data-sticky-on="{{ sticky_header_controls|yesno:'true,false' }}">
        <h1 id="main-heading">{% translate "Shared bookmarks" %}</h1>
        <div class="header-controls">
          {% bookmark_search bookmark_list.search mode='shared' %}
          {% random_sort bookmark_list.search %}
          {% include 'bookmarks/sidebar/components/toggle_button.html' %}
        </div>
      </div>

      <form class="bookmark-actions"
            action="{{ bookmark_list.action_url|safe }}"
            method="post" autocomplete="off">
        {% csrf_token %}
        <div id="bookmark-list-container">
          {% include 'bookmarks/bookmark_list.html' %}
        </div>
      </form>
    </main>

    {# Filters #}
    <div class="scrollbar sidebar col-1" data-sticky-on="{{ sticky_side_panel|yesno:'true,false' }}">
      {% include 'bookmarks/sidebar/components/close_button.html' %}
      <section aria-labelledby="user-heading">
        <div class="section-header">
          <h2 id="user-heading">{% translate "User" %}</h2>
        </div>
        <div>
          {% user_select bookmark_list.search users %}
          <br>
        </div>
      </section>
      {% include 'bookmarks/sidebar/index.html' %}
    </div>
  </div>
{% endblock %}

{% block overlays %}
  {# Bookmark details #}
  <turbo-frame id="details-modal" target="_top">
    {% if details %}
      {% include 'bookmarks/details/modal.html' %}
    {% endif %}
  </turbo-frame>
{% endblock %}
