{% extends "bookmarks/layout.html" %}
{% load i18n %}

{% block head %}
  {% translate "Filters - Linkding" as page_title %}
  {% with page_title=page_title %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
  <main class="bundles-page crud-page" aria-labelledby="main-heading" 
  ld-bundles-page>
    <div class="crud-header">
      <h1 id="main-heading">{% translate "Filters" %}</h1>
      <a href="{% url 'linkding:bundles.new' %}" class="btn">{% translate "Add filter" %}</a>
    </div>

    {% include 'shared/messages.html' %}

    {% if bundles %}
      <form action="{% url 'linkding:bundles.action' %}" method="post">
        {% csrf_token %}
        <table class="table crud-table">
          <thead>
          <tr>
            <th>{% translate "Name" %}</th>
            <th class="actions">
              <span class="text-assistive">{% translate "Actions" %}</span>
            </th>
          </tr>
          </thead>
          <tbody>
          {% for bundle in bundles %}
            <tr class="list-item" data-bundle-id="{{ bundle.id }}" data-folder="{{ bundle.is_folder }}">
              <td class="list-item-content">
                <div class="d-flex align-center">
                  <div class="drag-handle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary" width="16" height="16" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M9 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                      <path d="M9 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                      <path d="M9 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                      <path d="M15 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                      <path d="M15 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                      <path d="M15 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                    </svg>
                  </div>
                  <div class="list-item-text">
                    <span>{{ bundle.name }}</span>
                  </div>
                </div>
              </td>
              <td class="actions">
                <div>
                  <a class="btn btn-link" href="{% url 'linkding:bundles.edit' bundle.id %}">{% translate "Edit" %}</a>
                  <button ld-confirm-button type="submit" name="remove_bundle" value="{{ bundle.id }}"
                          class="btn btn-link">{% translate "Delete" %}
                  </button>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <input type="submit" name="move_bundle" value="" class="d-none">
        <input type="hidden" name="move_position" value="">
      </form>
    {% else %}
      <div class="empty">
        <p class="empty-title h5">{% translate "You do not have any filters yet" %}</p>
        <p class="empty-subtitle">{% translate "Try creating a filter" %}</p>
      </div>
    {% endif %}
  </main>
{% endblock %}
